name: Dependencies

on:
  push:
    paths:
      - Gemfile
      - Gemfile.lock

jobs:
  update:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    if: ${{ github.ref != 'refs/heads/main' }}
    steps:
      - uses: actions/checkout@v6
        with:
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
      - uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
          nix_path: nixpkgs=https://github.com/NixOS/nixpkgs/archive/refs/heads/nixos-unstable.tar.gz
      - name: Run bundix
        run: nix develop .#deps --command bundix
      - uses: stefanzweifel/git-auto-commit-action@v7.1.0
        with:
          commit_message: "Update gemset.nix"

